<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.ConditionalLoginTest"/>
      <class name="Tests.ModalFlowTest"/>
      <class name="Tests.VerifyLazyList"/>
      <class name="Tests.DynamicIdTest"/>
      <class name="Tests.DelayedButtonTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
